<html>
    <head>
            <link rel="stylesheet" type="text/css" href="..\..\styles\styles.css">
        <title>
            Suadokit :: manual
        </title>
    </head>
    <body>

            <div class="gallery">
                    <a target="_blank" href="ASSETS\pins.png">
                      <img src="ASSETS\pins.png" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <div class="desc">Pins</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="ASSETS\7digit.png">
                      <img src="ASSETS\7digit.png" alt="Forest" width="600" height="400">
                    </a>
                    <div class="desc">7Digit</div>
                  </div>

                  <table>
                        <tr>
                          <th>Pin</th>
                          <th>Voltage</th> 
                          <th>Desc</th>
                        </tr>
                        <tr>
                          <td>0</td>
                          <td>GND</td> 
                          <td>SYS[]</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>GND</td> 
                          <td>DIGIT[3][]</td>
                        </tr>
                        <tr>
                                <td>2</td>
                                <td>GND</td> 
                                <td>DIGIT[2][]</td>
                              </tr>
                              <tr>
                                    <td>3</td>
                                    <td>GND</td> 
                                    <td>DIGIT[1][]</td>
                                  </tr>
                                  <tr>
                                        <td>4</td>
                                        <td>GND</td> 
                                        <td>DIGIT[0][]</td>
                                      </tr>
                                      <tr>
                                            <td>5</td>
                                            <td>2V</td> 
                                            <td>DIGIT[][0],FM,DOT</td>
                                          </tr>
                                          <tr>
                                                <td>6</td>
                                                <td>2V</td> 
                                                <td>DIGIT[][1],AUX</td>
                                              </tr>
                                              <tr>
                                                    <td>7</td>
                                                    <td>2V</td> 
                                                    <td>DIGIT[][2],COLON</td>
                                                  </tr>
                                                  <tr>
                                                        <td>8</td>
                                                        <td>2V</td> 
                                                        <td>DIGIT[][3],SD</td>
                                                      </tr>
                                                      <tr>
                                                            <td>9</td>
                                                            <td>2V</td> 
                                                            <td>DIGIT[][4],USB</td>
                                                          </tr>
                                                          <tr>
                                                                <td>10</td>
                                                                <td>2V</td> 
                                                                <td>DIGIT[][5],STOP</td>
                                                              </tr>
                                                              <tr>
                                                                    <td>11</td>
                                                                    <td>2V</td> 
                                                                    <td>DIGIT[][6],PLAY</td>
                                                                  </tr>

                      </table>
                  
    </body>
</html>